:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-1: #222222;
  --color-grey-2: #444444;
  --color-grey-3: #666666;
  --color-grey-4: #888888;
  --color-grey-5: #aaaaaa;
  --color-grey-6: #bbbbbb;
  --color-grey-7: #cccccc;
  --color-grey-8: #dddddd;
  --color-grey-9: #eeeeee;
  --color-grey-10: #f8f8f8;
  --color-grey-13: #000;

  --color-error: #ff0000;
  --color-success: #3db014;
  --color-warning: #ffad1f;
  --color-info: #ffffff;

  --color-brand-primary: #000000;
  --color-brand-secondary: #ffffff;
  //цвета сайдебара

  --color-black-shadow: #00000040;
  --color-black-shadow-2: #00000029;
  --color-black-overlay: rgba(0, 0, 0, 0.5);
  --color-grey-svg: #999;
  --color-grey-text: #c2c7d0;
  --color-grey-border: #4b545c;
  --color-grey-border-2: #4f5962;
  --color-grey-border-3: #56606a;
  --color-grey-background: #343a40;
  --color-grey-background-2: #3f474e;
  --color-grey-background-3: rgba(255, 255, 255, 0.05);
  --color-grey-placeholder: #939ba2;
  --color-blue-background-hover: rgba(16, 114, 213, 0.1);
  --color-blue: #1072d5;
}
