.ant-tree-treenode {
  width: 100%;
  margin-bottom: 8px !important;
  flex-shrink: 0 !important;
  display: flex !important;
  flex-wrap: nowrap !important;

  .ant-tree-node-content-wrapper {
    width: auto !important;
    padding: 0 !important;
    flex: 1 1 auto !important;
    border-top: 1px solid var(--color-blue);
    border-left: 1px solid var(--color-blue);
    min-width: 0 !important;

    .ant-tree-title {
      width: 100% !important;
      display: block !important;
    }
    .category {
      display: flex;
      width: 100%;
      min-width: 0;
      justify-content: space-between;
      align-items: center;

      //border-radius: 8px;
      padding: 8px 12px;
      background: #ffffff;

      > span {
        flex: 1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .btn-category {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        z-index: 1000;
        flex-shrink: 0;
        width: auto;
        min-width: 120px;

        .btn-edit,
        .btn-add,
        .btn-delete {
          position: relative;
          z-index: 1001;
          transition: box-shadow 0.2s ease !important;

          &:hover {
            box-shadow: var(--color-black-shadow-2) !important;
          }
        }
      }
    }
  }
}
