.product-attribute-modal {
  font-family: var(--font-primary);
  .input-name {
    font-weight: 600;
    margin-top: 10px;
  }
  .hint {
    color: var(--admin-color-text-muted);
    font-size: var(--admin-font-caption);
  }
  .ant-color-picker-trigger {
    width: 100% !important;
    justify-content: flex-start !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 40px !important;
    border-radius: 6px !important;
    overflow: hidden !important;

    .ant-color-picker-color-block {
      padding: 0 !important;
      margin: 0 !important;
      height: 100% !important;
      width: 40px !important;
      min-width: 40px !important;
      border-radius: 0 !important;
      flex-shrink: 0 !important;
    }
    .ant-color-picker-text {
      margin-left: 0 !important;
      display: flex !important;
      justify-content: flex-start !important;
      width: 100% !important;
    }
  }
  .switch-and-text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    .switch {
    }
  }
}
