.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
  }

  &[role='button'] {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
