.tableAndAddParameter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-white);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  .addParameter {
    display: flex;
    justify-content: space-between;
  }
  .changed-row {
    background-color: var(--color-light-blue) !important;

    td {
      background-color: var(--color-light-blue) !important;
    }
  }
}
