#header-sidebar {
  display: flex;
  justify-content: space-between;
  transform: translateX(-20px);
  z-index: 1002;
  .headerSidebar {
    width: auto;
    display: flex;
    cursor: pointer;
    z-index: 1002;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
    .burger-arrow {
      width: 30px;
      height: 30px;
      font-size: 30px;
      border-radius: 50%;
      font-weight: bold;
      color: #d9d9d9;
      display: flex;
      border: 2px solid #d9d9d9;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 60%;
      background-color: rgba(16, 114, 213);
      transition: border-color 0.2s ease;

      &:hover {
        border-color: #1072d5;
      }
    }
  }
}
