.header {
  min-height: 60px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 1002;
  position: relative;

  &-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .btn-logout-container {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}
